body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../src/img/topography.png');
}

.card.mb-4 {
    width: 100%;
}

#title {
    font-size: 2em;
    margin-top: 2em;
}

#subtitle {
    font-size: 1em;
}

#main-content > div,
footer {
    padding: 3%;
}

.content-title {
    margin-bottom: 1em;
}

footer {
    margin-top: 1em;
}

.nav-item, .mb-4:hover, button.dropdown-item {
    cursor: pointer;
}

.card-hover {
    border-color: aquamarine;
}

#favorites {
    color: black;
}

.nav-item a {
    color: white;
}

@media (min-width: 575px) {
    #title {
        font-size: 3em;
    }

    #subtitle {
        font-size: 1.5em;
    }
}