body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/media-wallpaper.jpeg');
}

#header {
    background-image: url('../img/stars.jpg');
}

.title {
    color: white;
}

#main-content > div,
footer {
    border: black solid 1px;
    border-radius: 5px;
    background-color: white;
    padding: 3%;
}

#featured h2 {
    margin-bottom: 1em;
}

footer {
    margin-top: 1em;
}